a {
    justify-content: flex-end;

}

a:visited {
    color: green;
}

a:hover, a:active {
    font-size: 120%;
    color: red;
}

.appointment2 {
    display: flex;
    justify-content: space-evenly;
}

.about2 {
    display: flex;
    justify-content: space-between;
    padding: 3vh;
}

.comment {
    margin: 0;
    padding: 1px;
}

.faq1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7vh;

}

h1 {
    background-color: ;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7vh;
}

h2 {
    color: white;
    margin-right: 25vh;
}

h4 {
    margin-bottom: 3vh;
}

.input {
    width: 45vh;
    margin-bottom: 20px;
    display: flex;
}

.input1 {
    width: 120vh;
    display: flex;
}

.input2 {
    width: 120vh;
    display: flex;
}

.img {
    height: 850px;
}

.margin-left {
    margin-left: ;
}

p {
    color: white;
}

.textarea {
    width: 45vh;
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}

.textarea1 {
    width: 120vh;
    display: flex;
    margin-bottom: 20px;
}

.table1 {
    width: 60vh;
}
